#content{
    margin: 15px auto;
    max-width: 800px;
}

label{
    display: block;
    margin: 10px auto 0 auto;
}
button{
    margin: 10px auto 0 auto;
}

body{
    background-color: gray;
    margin: auto;
}